.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  min-width: 100px;
  font-size: 16px;
  font-weight: bold;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: 13px 13px 25px -5px rgba(34, 60, 80, 0.3);
  outline: none;
  cursor: pointer;
  border: none;
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover,
.button:focus {
  background-image: linear-gradient(
    to right top,
    #cb2684,
    #c23da0,
    #b252b9,
    #9d64ce,
    #8275df,
    #6787ee,
    #4598f9,
    #00a8ff,
    #00beff,
    #00d1ff,
    #00e3f5,
    #37f3e7
  );
  color: #fff;
  transform: scale(1.1);
}
